@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Pacifico&display=swap');

body {
  font-family: 'League Gothic', sans-serif;
  background-image: url('components/images/image3.jpg');
  background-size: cover;
  letter-spacing: 0.4ch;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  padding: 0;
}

img {
  height: 17rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-imge {
  border: none;
  height: 10%;
  width: 10%;
}

.img-btn {
  margin: 10px;
  padding: 0;
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh !important;
  width: 5vw;
}

.img-btn img {
  opacity: 0.7;
  height: 50px;
  width: 70px;
  border: none;
  margin: 10px;
}

.autoplay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timer-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* gap: 2rem; */
}

.count-down {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: blue;
  padding: 0;
  margin: 0;
}

.days h2 {
  font-size: 22px;
  padding: 0 10px;
  margin: 40px 0 0 0;
}

ul {
  display: flex;
  list-style: none;
  font-size: 5vw;
  height: 13vh;
  color: blue;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.6rem;
}

.image-text1 {
  height: auto;
  width: 95vw;
  border: none;
}

.share-page {
  color: white;
}

.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-remain {
  font-size: 48px;
  font-weight: bold;
  color: blue;
  padding: 0;
  text-align: center;
}

.timer-name {
  color: rgb(32, 32, 218);
  font-size: 20px;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: underline;
}

.share-links {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.icone {
  margin-top: 2rem;
}

.live-budget {
  color: blue;
  text-align: center;
  margin-top: 15vh;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.para p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: blue;
  font-size: 20px;
  font-weight: 300;
  margin: 10vh 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 17vh 5vw 5vw 10vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 4vw;
}

.contact-popup {
  background-image: url('components/images/background2.svg');
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-button {
  height: 1.5rem;
  width: 5rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: blue;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #99c5e0;
  color: #fff;
}

.contact-icon {
  margin-top: 10%;
  color: rgb(32, 32, 218);
  font-size: 28px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.input {
  width: 90%;
  padding: 7px 10px;
  border: none;
  border-radius: 3rem;
}

.input-area {
  border: none;
  width: 90%;
  padding: 2vh 1vw;
  border-radius: 1rem;
  background-color: #1329f0;
  color: white;
}

.cross-button {
  color: #ffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1.2rem;
  margin-right: 1rem;
}

.heading {
  color: white;
  font-size: 22px;
  letter-spacing: 0.5ch;
}

.contact-overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.involvement {
  margin-left: 20vw;
  color: gainsboro;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2vh;
  margin-left: 20vw;
  margin-bottom: 10vh;
}

.button-container h2 {
  color: white;
  font-weight: 200;
}

.buttons-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.image-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
}

.six-images {
  height: 7rem;
  width: 3.5rem;
}

.button-names {
  height: 7vh;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  text-decoration: underline;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2vh;
  background-color: transparent;
  color: rgb(16, 16, 204);
}

.button-names img {
  height: 8vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  background: inherit;
  opacity: 1;
  border: none;
}

.popup-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sharepopup-content {
  width: 30vw;
  height: 45vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.section-1 {
  display: flex;
  gap: 1.4rem;
}

.container-icone {
  display: flex;
  justify-content: flex-end;
}

.popup-close-icon {
  color: rgb(240, 240, 240);
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}

.circular-image {
  width: 36px;
  height: 36px;
  border: none;
}

.share-social-icone {
  height: 4.1rem;
  width: 8vw;
  border: none;
  padding: 10px;
  background-color: white;
}

.close-icon {
  position: fixed;
  top: 10px;
  right: 21px;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}

.webcam {
  height: 9rem;
  margin-top: 3rem;
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam-img {
  height: 20vh;
}

.main-container {
  width: 260px;
  height: 260px;
  background-color: white;
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.input-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.input-container .any {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7rem;
  align-items: center;
  width: 100%;
}

input {
  color: white;
  background-color: blue;
}

.input-container input {
  margin-top: 10px;
  padding: 8px 5px;
  font-size: 18px;
  background-color: #1329f0;
  color: white;
  border: 1px solid #1329f0;
  border-radius: 5px;
  text-align: center;
}

.input-container input[type="text"]::placeholder,
.input-container input[type="email"]::placeholder {
  color: white;
}

.input-container .webcam {
  height: 25vh;
  border-radius: 5px;
  text-align: center;
}

.capture {
  height: 7rem;
  width: 2rem;
}

.colon {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.colon .span-colon {
  /* padding: 1vh 1.5vw; */
  font-size: 40px;
  font-weight: bold;
  display: flex;
  padding: 0;
  margin: 0;
}

.diff-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  position: relative;
}

.diff-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diff-container .button-names img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.diff-container ::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: rotate(0deg) translateZ(10em);
  z-index: -1;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  body {
    background-image: url('components/images/background1.svg');
    background-size: cover;
    width: 100vw;
    max-height: 100%;
  }

  .sharepopup-content {
    width: 70vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .image-text1 {
    height: auto;
    width: 90vw;
  }

  .timer-name {
    font-size: 15px;
    text-decoration: underline;
    color: rgb(32, 32, 218);
  }

  /* .timer-container {
    gap: 10px;
  } */

  h2 {
    font-size: large;
    text-align: center;
  }

  .time-remain {
    /* margin-left: 6px; */
    font-size: 48px;
    padding: 0;
    margin: 0;
  }

  .contact-popup {
    width: 260px;
  }

  .input {
    width: 90%;
  }

  .webcam {
    height: 10rem;
  }

  .contact-overlay {
    height: 100%;
    width: 100%;
  }

  .popup-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-names {
    width: 13rem;
  }

  .diff-container {
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
  }

  .main-container {
    width: 180px;
    height: 180px;
  }

  .any input {
    width: 145px;
    margin-left: 0;
  }
}
