body {
  background-image: url('components/images/image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

img {
  height: 17rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.count-down {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.days {
  display: flex;
  flex-direction: column;
}

/* imagestext start from here */
.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.share-page {
  color: white;
}

.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.time-remain {
  margin-left: 10px;
}

.share-links {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.icone {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  body {
    background-image: url('components/images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
  }

  .video {
    height: 100px;
    width: 100px;
  }

  .timer-name {
    font-size: 1.6rem;
  }

  .timer-container {
    gap: 10px;
  }

  h2 {
    font-size: large;
  }

  .time-remain {
    margin-left: 6px;
  }
}
