body {
  background-image: url('components/images/image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

img {
  height: 17rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.count-down {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.days {
  display: flex;
  flex-direction: column;
}

/* imagestext start from here */
.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.share-page {
  color: white;
}

.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.time-remain {
  margin-left: 10px;
}

.share-links {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.icone {
  margin-top: 2rem;
}

/* contact form start here */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.contact-popup {
  background-image: url("./components/images/image7.jpg");
  border: 1px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 330px;
}

/* .contact-popup:before{
  content: '';
  position: absolute;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, .5);
 border-top-left-radius: 20px;
 border-bottom-right-radius:20px ;
 z-index: -1;

} */
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-button {
  height: 1.5rem;
  width: 5rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: rgb(65, 65, 173);
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #99c5e0;
  color: #fff;
}

.contact-icon {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.input {
  height: 1.5rem;
  width: 17rem;
  border: none;
  border-radius: 3rem;
}

.cross-button {
  color: #ffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1.2rem;
  margin-right: 1rem;
}

.heading {
  color: white;
  font-size: large;
}

@media (max-width: 768px) {
  body {
    background-image: url('components/images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
  }

  .video {
    height: 100px;
    width: 100px;
  }

  .timer-name {
    font-size: 1.6rem;
  }

  .timer-container {
    gap: 10px;
  }

  h2 {
    font-size: large;
  }

  .time-remain {
    margin-left: 6px;
  }

  .contact-popup {
    width: 290px;
  }
}
